log*.html
.direnv

.idea
*.xcodeproj
.vscode
.cache
.zig-cache
.direnv

profile*
fuzz-results
test/fuzz/out
test/fixtures/grammars/*
!test/fixtures/grammars/.gitkeep
# Allow top-level grammars directory to be tracked
!grammars/

node_modules

docs/assets/js/tree-sitter.js

/tree-sitter.pc

/target
*.rs.bk
*.a
*.dylib
*.so
*.so.[0-9]*
*.dll
*.o
*.obj
*.exp
*.lib
*.wasm
.swiftpm
.build
build
zig-*

/result
